.DS_Store
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Library/
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Assembly-CSharp-Editor.csproj
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Assembly-CSharp-firstpass.csproj
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Assembly-CSharp.csproj
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Magic\ Gun\ Castle\ Extreme\ v.i42\ 8.03.41\ PM.sln
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Magic\ Gun\ Castle\ Extreme\ v.i42\ 8.03.41\ PM.userprefs
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Magic\ Gun\ Castle\ Extreme\ v.i42.sln
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Magic\ Gun\ Castle\ Extreme\ v.i42.userprefs
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Temp
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Assets/FMODStudioCache.asset
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/fmod.log
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/fmod_editor.log
/Unity\ Stuff/Magic\ Gun\ Castle\ Extreme\ v.i42/Assets/FMODStudioCache.asset.meta
